%h3.grid.grid_4n
  Website im Archiv speichern

= simple_form_for site, :as => :site, :url => sites_publish_path do |f|
  %ul.grid.grid_4n
    %li
      = f.input :title, :label => 'Website-Titel:', :input_html => {:class => 'grid_padding grid_3n'}
    %li
      :javascript
        tag_search_url = "#{tag_search_url(:format => :json)}";
      = f.simple_fields_for :ac do |a|
        = a.input :tags_input, :label => 'Tag:', :required => false, :input_html => {:class => 'autocomplete grid_padding grid_3n'}
        = link_to "Tag hinzufügen", "javascript:void(0)", :class => 'add_tag button'
      =f.input :tags, :label => false, :readonly => true, :input_html => {:class => 'taglist hidden'}
    %li#chosen_tags.clear
      = "Keine Tags hinzugefügt"
    %li.clear
      = link_to "Speichern", 'javascript:void(0)', :class => "button submit_form"
      // todo: wording der confirmation bei abbruch des vorgangs
      = link_to "Abbrechen", root_path, :confirm => "Bist du sicher?", :class => "button cancel_form"
      
