-# error_helper comment
= simple_form_for comment, html: {novalidate: true}, :as => :comment do |f|
  = simple_fields_for comment.site, :as => :site do |s|
    = s.input :token, :value => comment.site.token,  :input_html => {:hidden => true}
  %ul
    %li
      = f.input :name, :required => true
    %li
      = f.input :email, :as => :email, :required => true
    %li
      = f.input :text, :as => :text, :required => true
    %li
      = f.button :submit