#bg_light_gradient

%hgroup
  #bg_logo
    %span
  %h3#logo
    %a{:href => root_path}
      timewarp

  %nav#navigation
    - if admin_signed_in?
      = render :partial => 'partials/navigation_admin'
    - else
      = render :partial => 'partials/navigation'

  #search
    = render :partial => 'partials/search_form'
  
- if admin_signed_in?
  %p.admin_logged_in_info 
    = "You are logged in as #{current_admin.email}" 
