- site_img = Rails.root.join("public/saved_sites/#{site.token}/current.jpg")
- if File.exist?(site_img)
  - preview_img_path = "#{Settings.host}/saved_sites/#{site.token}/current_preview_grey.jpg"
  - preview_img_path_hover = "#{Settings.host}/saved_sites/#{site.token}/current_preview.jpg"
- else
  - preview_img_path = 'dummy-img-grey.png'
  - preview_img_path_hover = 'dummy-img.png'

%article.grid.grid_1n
  %a{:href => site_path(site.token)}
    = image_tag(preview_img_path)
    = image_tag(preview_img_path_hover, :class => 'hover')
    %div.sites_title
      - if !site.title.blank?
        = site.title
      - else 
        = site.url
    %div.sites_meta
      %span.sites_date
        = to_german_date(site.created_at)
      %strong.sites_likes
        %span.icon
        = site.likes