%section#timewarp.grid.grid_5col_4n
  .timewarp_form
    = simple_form_for @site do |f|
      = f.input_field :url, :placeholder => 'http://www.timewarp.com'
      = f.submit 'Warp!'
    %p= error_helper @site

  // hide for presentation on monday 15.04.
  .debug.hidden
    %ul
      - @sites.each do |site|
        %li
          = link_to site.url, sites_analyse_path(site.token)
          = ' | '
          = link_to 'löschen', site_path(site.token), :method => :delete, :confirm => 'Wirklich löschen?'

%section#instructions.grid.grid_5col_4n
  #step_1.grid.grid_1n
    %a{:href => '/assets/home/symbol_1.png', :class => 'fancybox'}
      %img{ :src => '/assets/home/symbol_1.png', :width => 'auto', :height => '200', :alt => ' ' }
    %h3
      Analyse
    %p
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      
  #step_2.grid.grid_1n
    %a{:href => '/assets/home/symbol_2.png', :class => 'fancybox'}
      %img{ :src => '/assets/home/symbol_2.png', :width => 'auto', :height => '200', :alt => ' ' }
    %h3
      Edit
    %p
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  #step_3.grid.grid_1n
    %a{:href => '/assets/home/symbol_3.png', :class => 'fancybox'}
      %img{ :src => '/assets/home/symbol_3.png', :width => 'auto', :height => '200', :alt => ' ' }
    %h3
      Magic happens
    %p
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  #step_4.grid.grid_1n
    %a{:href => '/assets/home/symbol_4.png', :class => 'fancybox'}
      %img{ :src => '/assets/home/symbol_4.png', :width => 'auto', :height => '200', :alt => ' ' }
    %h3
      View
    %p
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

