%h1 Welcome to Timewarp
%p Some epic shit happens here! ;)

.timewarp_form
  %p
    %b Let's Timewarp!
    Adresse eingeben und los geht's!
  = simple_form_for @site do |f|
    = f.input_field :url, :placeholder => 'www.timewarp.com'
    = f.submit 'Warp!'
  %p= error_helper @site


.debug_all_sites
  - @sites.each do |site|
    %p
      = link_to site.url, sites_analyse_path(site.token)
      = " | "
      = link_to "löschen", site_path(site.token), :method => :delete, :confirm => "Wirklich löschen?"
