%section#team
  %article.site_preview
    = image_tag('team/daniel.jpg')
    = image_tag('team/daniel_small.jpg', :class => 'hover')
    %div.site_title
      Daniel Krenmayr
    %div.site_meta
      MultiMediaTechnology

  %article.site_preview
    = image_tag('team/karin.jpg')
    = image_tag('team/karin_small.jpg', :class => 'hover')
    %div.site_title
      Karin Schnirch
    %div.site_meta
      MultiMediaArt

  %article.site_preview
    = image_tag('team/niki.jpg')
    = image_tag('team/niki_small.jpg', :class => 'hover')
    %div.site_title
      Nicole Buchegger
    %div.site_meta
      MultiMediaTechnology

  %article.site_preview
    = image_tag('team/robi.jpg')
    = image_tag('team/robi_small.jpg', :class => 'hover')
    %div.site_title
      Robert Koch
    %div.site_meta
      MultiMediaTechnology