%nav#sub_navigation
  = render :partial => 'partials/archive_navigation'

#letter_lists 
  .column
    - ('A'..'F').to_a.each do |letter|
      = render :partial => 'partials/letter_list', :locals => {:letter => letter}
  .column
    - ('G'..'M').to_a.each do |letter|
      = render :partial => 'partials/letter_list', :locals => {:letter => letter}
  .column
    - ('N'..'T').to_a.each do |letter|
      = render :partial => 'partials/letter_list', :locals => {:letter => letter}
  .column
    - ('U'..'Z').to_a.each do |letter|
      = render :partial => 'partials/letter_list', :locals => {:letter => letter}