%nav#sub_navigation
  = render :partial => 'partials/archive_navigation'
  
%section#archive_overview
  %h1
    = "Alle '#{@tag}' Websites"
  -if @sites.count > 0
    - @sites.each do |site|
      = render :partial => 'partials/site', :locals => {:site => site}
  -else
    %p= "Keine Seiten gefunden."

  = will_paginate @sites, :previous_label => '&laquo;', :next_label => '&raquo;'