= simple_form_for comment, :html => {:novalidate => true}, :as => :comment, :remote => true, :url => create_comment_site_path do |f|
  = simple_fields_for comment.site, :as => :site do |s|
    = s.input :token, :value => comment.site.token, :label => false, :input_html => {:hidden => true}
  = f.input :text, :as => :text, :label => false, :placeholder => 'Kommentar eingeben...', :input_html => {:class => 'grid_padding grid_4n'}
  = f.input :name, :required => true, :label => 'Name:', :input_html => {:class => 'grid_padding grid_3n'}
  = f.input :email, :as => :email, :label => 'E-Mail Adresse:', :required => true, :input_html => {:class => 'grid_padding grid_3n'}
  = f.button :submit, "Kommentar abschicken"