#analyse_token.hidden{:token => "#{@site.token}"}

%section#site_analyse
  %h1
    = @site.url

  #analyse_frame{:"data-step" => "1", :"data-intro" => Settings.introjs.tool, :"data-position" => "right"}
    %iframe{:src => "#{Settings.host}/#{Settings.sites_folder}/#{@site.token}/current/index.html", :width => "100%", :height => 600, :id => "crawled_site", :sandbox => "allow-same-origin allow-scripts"}
    %span.overlay

  %section#sidebar
    %div{:"data-step" => "2", :"data-intro" => Settings.introjs.analyse, :"data-position" => "left", :style => "float: left; width:100%;"}
      %h4
        Analyse
      %ul.analyse
        %li= link_to "zurücksetzen", '#', :class => "reset_analyse"
        %li= link_to "erneut starten", '#', :class => "new_analyse"
    
    %div{:"data-step" => "3", :"data-intro" => Settings.introjs.colors, :"data-position" => "left", :style => "float: left; width:100%;"}
      %h4
        Farben der Website
      #colorBar
        .span{:id => 'colorBarInfo'}

    %div{:"data-step" => "5", :"data-intro" => Settings.introjs.finish, :"data-position" => "left", :style => "float: left; width:100%;"}
      %p
        = link_to "weiter", sites_timeline_path(@site), :class => "back_to_future button"
   
    #legend{:"data-step" => "4", :"data-intro" => Settings.introjs.legend, :"data-position" => "left"}
      %h4
        Legende
      %ul
        %li.twl_header 
          %span.color.yellow
          Header
        %li.twl_logo  
          %span.color.orange
          Logo
        %li.twl_hauptnavigation
          %span.color.rosa
          Hauptnavigation
        %li.twl_unternavigation  
          %span.color.red
          Unternavigation(en)
        %li.twl_content
          %span.color.light_green
          Content
        %li.twl_footer
          %span.color.dark_green
          Footer
        %li.twl_sidebar
          %span.color.light_blue
          Sidebar(s)
        %li.twl_galerie
          %span.color.dark_blue
          Bildergalerie(n)

%span.missing_fields
  %span.close
  %span.msg
  