%h1
  = "edit site '#{@site.title}'"

= simple_form_for @site, :as => :site do |f|
  = f.input :title
  = f.input :url
  = f.input :tags, :hint => "seperate tags with a comma"
  = f.input :published, :as => :boolean
  = f.button :submit

= link_to "Back", :back