%section#archive.grid.grid_5col_4n_full
  %h1.margin-left 
    warped sites

  - @sites.each do |site|

    // todo: make a "real" condition
    - has_img = false

    - if has_img
      - archive_img = ''
      - archive_img_hover = ''
    - else 
      - archive_img = 'dummy-website-grey.png'
      - archive_img_hover = 'dummy-website.png'

    %article.grid.grid_1n
      %a{:href => site_path(site.token)}
        = image_tag(archive_img)
        = image_tag(archive_img_hover, :class => 'hover')
        %div.sites_title
          - if !site.title.blank?
            = site.title
          - else 
            = site.url
        %div.sites_meta
          %span.sites_date
            = to_german_date(site.created_at)
          %strong.sites_likes
            %span.icon
            = site.likes

  = will_paginate @sites, :previous_label => '&laquo;', :next_label => '&raquo;'

%section#sidebar.grid.grid_5col_1n
  %nav#archive_navigation
    %ul
      %li 
        %a latest
      %li 
        %a most viewed
      %li 
        %a top rated

// hide for presentation on monday 15.04.
%section#tags.grid.grid_5col_4n.hidden
  %h1.margin-left 
    Tag-Cloud
  #tagcloud
    #tagcloud_config.hidden{:tags => @tags.to_json}
  %br
