- found = (@sites_title + @sites_tags).uniq.count

%section#archive_search
  // %h1
  //  = "#{found} Suchergebnis#{found > 1 || found == 0 ? 'se' : ''} für '#{@term}'"

  #found_title.result_type
    %h3
      = "#{@sites_title.count}x '#{@term}' im Website-Titel gefunden"
    .results
      - @sites_title.each do |site|
        = render :partial => 'partials/site', :locals => {:site => site}

  #found_tag.result_type
    %h3
      = "#{@sites_tags.count}x '#{@term}' als Tag gefunden"
    .results
      - @sites_tags.each do |site|
        = render :partial => 'partials/site', :locals => {:site => site}