//seems the backend-developer needs a designerin here ^^

%h1= "Suchergebnisse für '#{@term}'"

%p
  = "Eine Erklärung! ^^"

%br
%br
%br
%section#archive_search
  %h3= "Titel"
  - @sites_title.each do |site|
    = render :partial => 'partials/site', :locals => {:site => site}

  %h3= "Tags"
  - @sites_tags.each do |site|
    = render :partial => 'partials/site', :locals => {:site => site}