%section#archive_detail.grid.grid_5col_4n_full

  %h1.margin-left
    - if @site.title
      = @site.title
    - else 
      = @site.url

  // todo: make a "real" condition
  - has_img = false
  - if has_img
    - archive_img = ''
  - else 
    - archive_img = 'dummy-website.png'

  #site_images.grid.grid_3n
    %a{:href => image_path(archive_img), :class => 'fancybox'}
      = image_tag(archive_img, :class => 'first')

  #site_meta.grid.grid_1n
    %ul.meta
      %li.site_date
        %span.icon
        = to_german_date(@site.created_at)
      %li.site_views
        %span.icon
        = @site.visits
        views
      %li.site_likes
        %a{:href => '/'}
          %span.icon
          = @site.likes
          likes
      %li.site_share
        %a{:href => '/'}
          %span.icon
          Share

    %h5
      Tags
    %ul.tags
      -@tags.each do |tag|
        %li
          %a{:href => '#'}
            = tag[0]
            %span
              = tag[1].to_i

  #site_comments.grid.grid_3n
    %h3
      Kommentare
    %p 
      Hier stehen später dann die Kommentare...