#fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1&appId=237200139665774";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

#archive_detail
  %h1
    - if !@site.title.blank?
      = @site.title
    - else 
      = @site.url

  - site_img = Rails.root.join("public/saved_sites/#{@site.token}/current.jpg")
  - if File.exist?(site_img)
    - img_path = "#{Settings.host}/saved_sites/#{@site.token}/"
    - preview_img_path = "#{Settings.host}/saved_sites/#{@site.token}/"
  - else
    - img_path = preview_img_path = 'dummy-img.png'

  #site_images
    - Settings.crawler.years.each do |year|
      %a{:href => image_path(img_path + year + '.jpg'), :class => 'fancybox', :rel => 'site_images'}
        = image_tag(preview_img_path + year + '_preview.jpg', :class => 'year_' + year)
    
  #site_meta
    %ul.meta
      %li.site_date
        %span.icon
        = to_german_date(@site.created_at)
      %li.site_views
        %span.icon
        = @site.visits
        views
      %li.site_likes
        %a.likes{:href => 'javascript:void(0)'}
          %span.icon
          %span.number
            = @site.likes
          likes
        #likes_config.hidden{:attr_link => increment_like_site_path}
      %li.site_share
        %a.closed{:href => 'javascript:void(0)'}
          %span.icon
          teilen
          #social_media_buttons
            .fb-like{"data-href" => "#{request.protocol}#{request.host_with_port}#{request.fullpath}", "data-send" => "false", "data-show-faces" => "false", "data-width" => "90", "data-layout" => "button_count"}
            .g-plusone{"data-size" => "medium"}
            :javascript
              window.___gcfg = {lang: 'de'};
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            %a.twitter-share-button{:href => "https://twitter.com/share", "data-lang" => "de"}
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

    %h5
      Tags
    %ul.tags
      -@tags.each do |tag|
        %li
          %a{:href => tag_path(tag[0])}
            = tag[0]
            %span
              = tag[1].to_i

  #site_comments
    %h3
      Kommentare
    #comment_list
      - @site.comments.reverse.each do |comment|
        - if comment.created_at
          = render :partial => 'partials/single_comment', :locals => {:comment => comment}
    #comment_form
      = render :partial => 'create_comment_form', :locals => {:comment => @comment}

%script#comment_container{ :type => 'text/html' }
  = render :partial => 'partials/single_comment_template'