%section#archive_detail.grid.grid_5col_4n_full

  %h1.margin-left
    - if !@site.title.blank?
      = @site.title
    - else 
      = @site.url

  - site_img = Rails.root.join("public/saved_sites/#{@site.token}/current.jpg")
  - if File.exist?(site_img)
    - img_path = "#{Settings.host}/saved_sites/#{@site.token}/current.jpg"
    - preview_img_path = "#{Settings.host}/saved_sites/#{@site.token}/current_preview.jpg"
  - else
    - img_path = preview_img_path = 'dummy-img.png'

  #site_images.grid.grid_3n
    %a{:href => image_path(img_path), :class => 'fancybox'}
      = image_tag(preview_img_path, :class => 'first')

  #site_meta.grid.grid_1n
    %ul.meta
      %li.site_date
        %span.icon
        = to_german_date(@site.created_at)
      %li.site_views
        %span.icon
        = @site.visits
        views
      %li.site_likes
        %a{:href => '/'}
          %span.icon
          = @site.likes
          likes
      %li.site_share
        %a{:href => '/'}
          %span.icon
          Share

    %h5
      Tags
    %ul.tags
      -@tags.each do |tag|
        %li
          %a{:href => tag_path(tag[0])}
            = tag[0]
            %span
              = tag[1].to_i

  #site_comments.grid.grid_3n
    %h3
      Kommentare
    #comment_list
      - @site.comments.reverse.each do |comment|
        - if comment.created_at
          = render :partial => 'partials/single_comment', :locals => {:comment => comment}
    #comment_form
      = render :partial => 'create_comment_form', :locals => {:comment => @comment}

%script#comment_container{ :type => 'text/html' }
  = render :partial => 'partials/single_comment_template'