= render :partial => 'partials/loading_screen', :locals => {:screen_name => 'working', :text => "Die Seite wird umgebaut, bitte warten...", :hidden => false}

= render :partial => 'partials/loading_screen', :locals => {:screen_name => 'saving', :text => "Die Seite wird gespeichert und Screenshots werden erstellt, bitte warten...", :hidden => true}

#timeline_config.hidden{:sites_path => Settings.host+"/saved_sites/#{@site.token}", :site_published => "#{@site.published?}"}
#timeline_token.hidden{:token => "#{@site.token}"}

= render :partial => 'partials/timeline'

%section#site_show
  #browser
    %iframe{:id => 'version_frame', :src => "#{Settings.host}/#{Settings.sites_folder}/#{@site.token}/current/index.html", :width => "100%", :height => 500}

  - if @site.published?
    = link_to "Zurück ins Archiv", site_path(@site), :class => "button"
  - else
    = link_to "Ins Archiv speichern", "#archive_form", :class => "fancybox_inline button"
    = link_to "Abbrechen", root_path, :confirm => "Bist du sicher?", :class => "cancel button"

- unless @site.published?
  #archive_form
    = render :partial => 'partials/archive_form', :locals => {:site => @site}
