- if @render_loading_screen
  = render :partial => 'partials/loading_screen', :locals => {:screen_name => 'working', :text => "Die Seite wird umgebaut, bitte warten...", :hidden => false}

  = render :partial => 'partials/loading_screen', :locals => {:screen_name => 'saving', :text => "Die Seite wird gespeichert und Screenshots werden erstellt, bitte warten...", :hidden => true}

#timeline_config.hidden{:sites_path => Settings.host+"/saved_sites/#{@site.token}", :site_published => "#{@site.published?}"}
#timeline_token.hidden{:token => "#{@site.token}"}

= render :partial => 'partials/timeline'

%section#timeline
  %section#site_show
    #browser
      %span.browser_header_right
      %iframe{:id => 'version_frame', :src => "#{Settings.host}/#{Settings.sites_folder}/#{@site.token}/current/index.html", :width => "100%", :height => 500}

  %section#sidebar_1994.sidebar
    %h3 1994
    %p 1994 gab es im Web noch nicht viel Design zu sehen. Die Seiten waren meist grau und linear aufgebaut. Texte liefen über die ganze Seitenbreite und wurden durch horizontale Linien getrennt. Kleine Bilder sorgten für ein wenig Abwechslung.
    %h4 Browser
    %p NCSA Mosaic 1.0
    %h4 Bildschirmauflösung
    %p 640 x 480 Pixel

  %section#sidebar_1998.sidebar
    %h3 1998
    %p Die Websites waren sehr bunt und wirken überladen. Ein Muss waren damals animierte GIFs, Counter und Welcome-Screens. Weiters sorgten Banner für Aufmerksamkeit.
    %h4 Browser
    %p Microsoft Internet Explorer 4
    %h4 Bildschirmauflösung
    %p 800 x 600 Pixel

  %section#sidebar_2003.sidebar
    %h3 2003
    %p Absolut beliebt war blinkender Text und Laufschrift. Außerdem wurde gerne Hintergrundmusik eingesetzt und Buttons mit Schatten hinterlegt.
    %h4 Browser
    %p Safari 1
    %h4 Bildschirmauflösung
    %p 1024 x 768 Pixel

  %section#sidebar_2008.sidebar
    %h3 2008
    %p 2008 wurde es etwas ruhiger. Es wurden weniger Bilder und nicht mehr so grelle Farben eingesetzt. Außerdem galten große Überschriften, Drop-Down-Menüs und große Icons in den Navigationen als modern.
    %h4 Browser
    %p Google Chrome 1
    %h4 Bildschirmauflösung
    %p 1024 x 768 Pixel

  %section#sidebar_current.sidebar
    %h3 2013
    %p Aktuell sind große (Hintergrund-)Bilder und Slider angesagt. Wie im Printbereich wird nun auch im Web viel Weißraum eingesetzt und auch gute Typografie wird im Web dank Webfonts immer wichtiger.
    %h4 Browser
    %p Mozilla Firefox 21.0
    %h4 Bildschirmauflösung
    %p größer als 1024 x 768 Pixel

  - if @site.published?
    = link_to "Zurück ins Archiv", site_path(@site), :class => "button"
  - else
    = link_to "Ins Archiv speichern", "#archive_form", :class => "fancybox_inline button"
    = link_to "Abbrechen", root_path, :confirm => "Bist du sicher?", :class => "cancel button"

- unless @site.published?
  #archive_form
    = render :partial => 'partials/archive_form', :locals => {:site => @site}