- if @render_loading_screen
  = render :partial => 'partials/loading_screen', :locals => {:screen_name => 'working', :text => "Die Seite wird umgebaut, bitte warten...", :hidden => false}

  = render :partial => 'partials/loading_screen', :locals => {:screen_name => 'saving', :text => "Die Seite wird gespeichert und Screenshots werden erstellt, bitte warten...", :hidden => true}

#timeline_config.hidden{:sites_path => Settings.host+"/saved_sites/#{@site.token}", :site_published => "#{@site.published?}"}
#timeline_token.hidden{:token => "#{@site.token}"}

= render :partial => 'partials/timeline'

%section#timeline
  %section#site_show
    #browser
      %span.browser_header_right
      %iframe{:id => 'version_frame', :src => "#{Settings.host}/#{Settings.sites_folder}/#{@site.token}/current/index.html", :width => "100%", :height => 500}

  %section#sidebar_1994.sidebar
    %h3 1994
    %p 1994 steckte das Web-Design sprichwörtlich noch in den Kinderschuhen. Es gab fast nichts... bla bla bla.
    %h4 Browser
    %p NCSA Mosaic 1.0
    %h4 Bildschirmauflösung
    %p 640 x 480 Pixel

  %section#sidebar_1998.sidebar
    %h3 1998
    %p 1994 steckte das Web-Design sprichwörtlich noch in den Kinderschuhen. Es gab fast nichts... bla bla bla.
    %h4 Browser
    %p Microsoft Internet Explorer 4
    %h4 Bildschirmauflösung
    %p 800 x 600 Pixel

  %section#sidebar_2003.sidebar
    %h3 2003
    %p 1994 steckte das Web-Design sprichwörtlich noch in den Kinderschuhen. Es gab fast nichts... bla bla bla.
    %h4 Browser
    %p Safari 1
    %h4 Bildschirmauflösung
    %p 1024 x 768 Pixel

  %section#sidebar_2008.sidebar
    %h3 2008
    %p 1994 steckte das Web-Design sprichwörtlich noch in den Kinderschuhen. Es gab fast nichts... bla bla bla.
    %h4 Browser
    %p Google Chrome 1
    %h4 Bildschirmauflösung
    %p 1024 x 768 Pixel

  %section#sidebar_current.sidebar
    %h3 2013
    %p 1994 steckte das Web-Design sprichwörtlich noch in den Kinderschuhen. Es gab fast nichts... bla bla bla.
    %h4 Browser
    %p Mozilla Firefox 21.0
    %h4 Bildschirmauflösung
    %p größer als 1024 x 768 Pixel

  - if @site.published?
    = link_to "Zurück ins Archiv", site_path(@site), :class => "button"
  - else
    = link_to "Ins Archiv speichern", "#archive_form", :class => "fancybox_inline button"
    = link_to "Abbrechen", root_path, :confirm => "Bist du sicher?", :class => "cancel button"

- unless @site.published?
  #archive_form
    = render :partial => 'partials/archive_form', :locals => {:site => @site}