#timeline_config.hidden{:sites_path => Settings.host+"/saved_sites/#{@site.token}"}
%section#site_show.grid.grid_5col_4n
  %h1 
    %span warped site: 
    = @site.url
  %iframe{:id => 'version_frame', :src => "#{Settings.host}/#{Settings.sites_folder}/#{@site.token}/current/index.html", :width => "100%", :height => 600}

  = link_to "Ins Archiv speichern", "#archive_form", :class => "fancybox_inline button"
  = link_to "Abbrechen", root_path, :confirm => "Bist du sicher?", :class => "cancel button"

  #archive_form
    = render :partial => 'partials/archive_form', :locals => {:site => @site}

%section#sidebar.grid.grid_5col_1n
  %p
    = render :partial => 'partials/timeline'