!!! 5
%html{"xml:lang" => "de", :lang => "de"}
  %head
    %meta{:charset => 'utf-8'}
    
    %title timewarp
    %meta{:name => 'keywords', :content => 'timewarp, history, webdesign, trends'}
    %meta{:name => 'description', :content => 'Hier steht später eine schlaue Beschreibung von dem, was wir hier eigentlich tun.'} 
    
    %link{:href => '/favicon.ico', :rel => 'shortcut icon'}/
    
    = csrf_meta_tag
    = stylesheet_link_tag 'application', :media => 'screen'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Michroma', :media => 'screen'
    
  %body
    %header#header
      = render :partial => 'partials/header'

    #wrapper
      
      %section#content
        = yield

      %footer#footer
        = render :partial => 'partials/footer'

    = javascript_include_tag 'application'
    
    - if (controller.controller_name == 'sites' && (controller.action_name == 'analyse'))
      = javascript_include_tag "analyse"
      = javascript_include_tag "colorParser"
      = javascript_include_tag "legend"

    - if (controller.controller_name == 'sites' && (controller.action_name == 'timeline'))
      = javascript_include_tag "timeline"

    - if (controller.controller_name == 'sites' && (controller.action_name == 'show'))
      = javascript_include_tag "archive"
